<!DOCTYPE html>
<html>
  <head>
    <title>Group92Itsc3155termproject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= if controller_name == 'drinks' then render 'drinks/header' end %>
    <%= yield %>
    
  </body>
</html>
