
<section class="flavors">
   <div class="new_text">Flavor:</div>
   <%= f.select :flavor, Drink.flavors.keys, include_blank: true %> 
</section>

<section class="liquors">
  <div class="new_text">Liquor:</div> 
  <%= f.collection_check_boxes :liquor_ids, Liquor.all, :id, :name do |b| -%>
    <%= b.check_box(class: "checkbox-new") + b.label(class: "checkbox-label-new") { b.text } %>
  <% end %>   
</section>

<section class="mixers">
  <div class="new_text">Mixer:</div>
  <%= f.collection_check_boxes :mixer_ids, Mixer.all, :id, :name do |b| -%>
    <%= b.check_box(class: "checkbox-new") + b.label(class: "checkbox-label-new") { b.text } %>
  <% end %>
</section>